{% set img = "pypi-mirror_oldest_py" %}
# {{image_dir}}

Pypi Mirror containing all of pyMOR's (optional) dependencies in their oldest
possible versions as constrained by our version pins.

{% extends "readme_base.jinja" %}
