# pyMOR Docker images

[![pipeline status](https://zivgitlab.uni-muenster.de/pymor/docker/badges/main/pipeline.svg)](https://zivgitlab.uni-muenster.de/pymor/docker/-/commits/main)

Authorative repository for all pyMOR related docker images.

See [pyMOR docs](https://docs.pymor.org/main/developer_docs.html#continuous-testing-integration-setup) for usage information.

{%- for img in images %}
{%- for py in pythons %}
| {{img}}{{py}} | [![](https://img.shields.io/docker/pulls/pymor/{{img}}{{py}}.svg)](https://hub.docker.com/repository/docker/pymor/{{img}}{{py}} "{{image_dir}} mixin") [![](https://img.shields.io/docker/image-size/pymor/{{img}}{{py}}/latest](https://hub.docker.com/repository/docker/pymor/{{img}}{{py}} "{{image}} mixin")|
{%- endfor %}
{%- endfor %}
{# extra newline #}
