cmake
cmarkgfm
jupytext
MonkeyType
mypy
pyicontract-lint
pyicontract-lint
pytest-pycharm
pytimings
rich
scikit-build
sphinx>=3.4
sphinx-autodoc-typehints
sphinxcontrib-bibtex
sphinx-icontract
virtualenv
