{% set img = "demo" %}
{# this is static image with no python variation #}
{% set pythons = [""] %}
# Demos

Image tags reflect pyMOR release tags.

Contains all dependencies plus the fitting pyMOR release.

{% extends "readme_base.jinja" %}
